{% extends 'base.html' %}
<!-- Block Begin -->
{% block head %}
    {% if signup %}
        <title>Sign Up | Tor-Friends</title>
    {% else %}
        <title>Login | Tor-Friends</title>
    {% endif %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/login.css') }}"
    />
{% endblock %}
<!--  -->
{% block body %}
<div class="container">
    {% if signup %}
      <form action="/login" class="was-validated" method="post">
    {% else %}
      <form action="/" class="was-validated" method="post">
    {% endif %}
    
    <h1><a href="/">Tor-Friends</a></h1>
    {% if signup %}
      <p id="log_type">[Sign Up]</p>
    {% else %}
      <p id="log_type">[Login]</p>
    {% endif %}
    
    <div class="form-group">
      <label for="uname">Username:</label>
      <input
        type="text"
        class="form-control"
        id="uname"
        placeholder="Enter username"
        name="uname"
        required
        minlength="4"
        autofocus
        autocomplete="off"
      />
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        id="pwd"
        placeholder="Enter password"
        name="pwd"
        required
        minlength="8"
      />
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="row">
      <div class="col">
        {% if signup %}
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-sign-in"></i> Sign Up
          </button>
        {% else %}
          <button type="submit" class="btn btn-primary">
            Login <i class="fa fa-sign-in"></i>
          </button>
        {% endif %}
      </div>

      <div class="col">
        {% if signup %}
          <a href="/login/">Have an account?</a>
        {% else %}
          <a href="/signup/">No account?</a>
        {% endif %}
      </div>
    </div>
  </form>
</div>
{% endblock %}
<!-- Block End -->
