{% extends 'base.html' %}

<!-- Block Begin -->
{% block head %}
<title>Tor-Friends</title>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %}
<!-- Block End -->

<!-- Block Begin -->
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <main id="all-items">
        <h1 class="center">All Torrents</h1>
        <!-- now we go through session data -->
        {% for det in session %}
        <!--  -->
        {% for key, item in torrents.items() %}
        <!-- 
          we now check if the user is the content owner
          or a moderator, if they are, they get extra details
        -->
        {% if det["username"] == item["user"] or det["mod"] %}
        <div class="item">
          <div class="row">
            <div class="col-sm-8">
              <a href="{{ item['magnet'] }}" class="item-link"
              >{{ item['name'] }}</a>
            </div>
  
            <div class="col-sm-4">
              <button class="btn btn-outline-secondary btn-sm show-details">
                Details <i class="fa fa-caret-down"></i>
                <span class="for-item">for:{{ rsc(item['name']).lower() }}</span>
              </button>
            </div>
          </div>

          <div class="details hidden" id="{{ rsc(item['name']).lower() }}">
            <table class="table-dark table-hover">
              <tr>
                <td>Name</td>
                <td>{{ item["full_name"] }}</td>
              </tr>

              <tr>
                <td>Magnet</td>
                <td>
                  {% for i in range(30) %}{{ item["magnet"][i] }}{% endfor %}...
                </td>
              </tr>

              <tr>
                <td>Size</td>
                <td>{{ item["size"] }}{{ item["size_type"] }}</td>
              </tr>

              <tr>
                <td>Type</td>
                <td>
                  {{ item["type"] }} {% if not item["type"] in ["Music",
                  "Other"] %} -> {{ item["minor_type"] }}
                  <!-- Block Begin -->
                  {% endif %}
                  <!-- Block End -->
                </td>
              </tr>

              <tr>
                <td>Description</td>
                <td>{{ item["desc"] }}</td>
              </tr>

              <tr>
                <td>Owner</td>
                <td>{{ item["user"] }}</td>
              </tr>

              <tr>
                <td>Edit</td>
                <td>
                  <a href="/torrent/{{ key }}">
                    <button
                      type="submit"
                      class="btn btn-outline-primary btn-sm"
                    >
                      <i class="fa fa-pencil"></i>
                    </button>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Remove</td>
                <td>
                  <a href="/torrent/del/{{ key }}">
                    <button class="btn btn-outline-danger btn-sm">
                      <i class="fa fa-trash"></i>
                    </button>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- else they are not the owner or a moderator -->
        {% else %}
        <div class="item">
          <div class="row">
            <div class="col-sm-8">
              <a href="{{ item['magnet'] }}" class="item-link"
              >{{ item['name'] }}</a>
            </div>
  
            <div class="col-sm-4">
              <button class="btn btn-outline-secondary btn-sm show-details">
                Details <i class="fa fa-caret-down"></i>
                <span class="for-item">for:{{ rsc(item['name']).lower() }}</span>
              </button>
            </div>
          </div>

          <div
            class="details hidden"
            id="{{ rsc(item['name']).lower() }}"
          >
            <table class="table-dark table-hover">
              <tr>
                <td>Name</td>
                <td>{{ item["full_name"] }}</td>
              </tr>

              <tr>
                <td>Size</td>
                <td>{{ item["size"] }}{{ item["size_type"] }}</td>
              </tr>

              <tr>
                <td>Type</td>
                <td>{{ item["type"] }} -> {{ item["minor_type"] }}</td>
              </tr>

              <tr>
                <td>Description</td>
                <td>{{ item["desc"] }}</td>
              </tr>

              <tr>
                <td>Owner</td>
                <td>{{ item["user"] }}</td>
              </tr>
            </table>
          </div>
        </div>
        {% endif %} {% endfor %} {% endfor %}
      </main>
    </div>
  </div>
</div>
{% endblock %}
<!-- Block End -->
